&lt;div id="footer"&gt;
	&lt;!-- noindex --&gt;
	&lt;div id="fat-footer"&gt;
		&lt;div class="max-width"&gt;&lt;div class="box-sizing"&gt;
			&lt;h2&gt;Explore this site&lt;/h2&gt;
			&lt;div class="section"&gt;
				&lt;h3&gt;&lt;a href="https://www.qld.gov.au/"&gt;Queensland Government&lt;/a&gt;&lt;/h3&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/about/contact-government/contacts/"&gt;Government contacts&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/about/contact-government/have-your-say/"&gt;Have your say&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/about/staying-informed/"&gt;Staying informed&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/about/government-jobs/"&gt;Government jobs&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/about/how-government-works/"&gt;How government works&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://data.qld.gov.au/"&gt;Queensland Government data&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://publications.qld.gov.au/"&gt;Queensland Government publications&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
			&lt;div class="section" id="for-qldrs"&gt;
				&lt;h3&gt;&lt;a href="https://www.qld.gov.au/queenslanders/"&gt;For Queenslanders&lt;/a&gt;&lt;/h3&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/transport/"&gt;Transport and motoring&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/jobs/"&gt;Employment and jobs&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/housing/"&gt;Homes and housing&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/education/"&gt;Education and training&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/community/"&gt;Community support&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/health/"&gt;Health and wellbeing&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/emergency/"&gt;Emergency services and safety&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/about/"&gt;About Queensland and its government&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/families/"&gt;Parents and families&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/disability/"&gt;People with disability&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/seniors/"&gt;Seniors&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/atsi/"&gt;Aboriginal and Torres Strait Islander peoples&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/youth/"&gt;Youth&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/environment/"&gt;Environment, land and water&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/law/"&gt;Your rights, crime and the law&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.qld.gov.au/recreation/"&gt;Recreation, sport and arts&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
			&lt;div class="section"&gt;
				&lt;h3&gt;&lt;a href="http://www.business.qld.gov.au/"&gt;Business and industry&lt;/a&gt;&lt;/h3&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/business/starting"&gt;Starting a business&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/business/running"&gt;Running a business&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/business/employing"&gt;Employing people&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/invest"&gt;Investing in Queensland&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/industry"&gt;For industry&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/invest/queenslands-regional-locations"&gt;Regional investment opportunities&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/chinese" lang="zh"&gt;&#26118;&#22763;&#20848;&#24030;&#30340;&#25237;&#36164;&#26426;&#20250;&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/chinese-t" lang="zh"&gt;&#26118;&#22763;&#34349;&#24030;&#30340;&#25237;&#36039;&#27231;&#26371;&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/japanese" lang="ja"&gt;&#12463;&#12452;&#12540;&#12531;&#12474;&#12521;&#12531;&#12489;&#24030;&#12408;&#12398;&#25237;&#36039;&#27231;&#20250;&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="http://www.business.qld.gov.au/korean" lang="ko"&gt;&#53304;&#51592;&#47004;&#46300; &#53804;&#51088; &#44592;&#54924;&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="max-width"&gt;&lt;div class="box-sizing"&gt;
		&lt;h2&gt;Site footer&lt;/h2&gt;
		&lt;ul&gt;
			&lt;li id="link-help"&gt;&lt;a href="https://www.qld.gov.au/help/"&gt;Help&lt;/a&gt;&lt;/li&gt;
			&lt;!--&lt;li id="link-legal"&gt;&lt;a href="https://www.qld.gov.au/legal/"&gt;Terms and conditions&lt;/a&gt;&lt;/li&gt;--&gt;
			&lt;li class="legal"&gt;&lt;a href="https://www.qld.gov.au/legal/copyright/"&gt;Copyright&lt;/a&gt;&lt;/li&gt;
			&lt;li class="legal"&gt;&lt;a href="https://www.qld.gov.au/legal/disclaimer/"&gt;Disclaimer&lt;/a&gt;&lt;/li&gt;
			&lt;li class="legal"&gt;&lt;a href="https://www.qld.gov.au/legal/privacy/"&gt;Privacy&lt;/a&gt;&lt;/li&gt;
			&lt;li class="legal"&gt;&lt;a href="https://www.qld.gov.au/right-to-information/"&gt;Right to information&lt;/a&gt;&lt;/li&gt;
			&lt;li id="link-accessibility"&gt;&lt;a href="https://www.qld.gov.au/help/accessibility/"&gt;Accessibility&lt;/a&gt;&lt;/li&gt;
			&lt;li id="link-jobs"&gt;&lt;a href="https://smartjobs.qld.gov.au/"&gt;Jobs in Queensland Government&lt;/a&gt;&lt;/li&gt;
			&lt;li id="link-languages"&gt;&lt;a href="https://www.qld.gov.au/languages/"&gt;Other languages&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;!-- endnoindex --&gt;
		&lt;p class="legal"&gt;&copy; The State of Queensland 1995&ndash;2014&lt;/p&gt;
		&lt;p&gt;&lt;a href="https://www.qld.gov.au/" accesskey="1"&gt;Queensland Government&lt;/a&gt;&lt;/p&gt;
		&lt;div id="qg-branding"&gt;&lt;p&gt;&lt;img class="tagline" src="https://static.qgov.net.au/assets/v2/images/skin/tagline.png" alt="Great state. Great opportunity." /&gt;&lt;/p&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div id="scripts"&gt;
&lt;script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/loader.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/init.js"&gt;&lt;/script&gt;
&lt;/div&gt;
