&lt;div id="analytics"&gt;
	&lt;script id="analytics-inline-config" type="text/javascript"&gt;&lt;!--
		qg.swe.pageTitle = '&lt;?php print (empty($_SERVER['title'])) ? '' : addslashes(htmlspecialchars($_SERVER['title'])); ?&gt;';
		qg.swe.franchiseTitle = '&lt;?php print (empty($_SERVER['franchise'])) ? '' : addslashes(htmlspecialchars($_SERVER['franchise'])); ?&gt;';

		qg.swe.vhost = '';
		qg.swe.servedBy = window.location.hostname;

	//--&gt;&lt;/script&gt;&lt;!-- end #analytics-inline-config --&gt;

&lt;!-- Load configuration for analytics --&gt;
	&lt;script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/analytics.js"&gt;&lt;/script&gt;
&lt;/div&gt;&lt;!-- end #analytics --&gt;
