	&lt;meta http-equiv="X-UA-Compatible" content="IE=edge" /&gt;
	&lt;meta name="viewport" content="width=device-width" /&gt;

	&lt;link rel="stylesheet" type="text/css" href="https://static.qgov.net.au/assets/v2/style/qgov.css" media="all" /&gt;
	&lt;!--[if lt IE 9]&gt;&lt;link rel="stylesheet" href="https://static.qgov.net.au/assets/v2/style/qgov-ie.css" type="text/css" media="all" /&gt;&lt;![endif]--&gt;
	&lt;!-- layout-small is assumed by default (combined with qgov.css) --&gt;
	&lt;link href="https://static.qgov.net.au/assets/v2/style/layout-medium.css" media="only all and (min-width: 640px) and (max-width: 980px)" rel="stylesheet" type="text/css" /&gt;
	&lt;link href="https://static.qgov.net.au/assets/v2/style/layout-large.css" media="only all and (min-width: 980px)" rel="stylesheet" type="text/css" /&gt;
	&lt;link href="https://static.qgov.net.au/assets/v2/style/jquery-ui-qgov.css" media="all" rel="stylesheet" type="text/css" /&gt;

	&lt;link rel="shortcut icon" href="https://static.qgov.net.au/assets/v2/images/skin/favicon.ico" /&gt;
	&lt;meta prefix="og:http://ogp.me/ns#" property="og:image" content="https://static.qgov.net.au/assets/v2/images/skin/qg-coa-ogp.png" /&gt;
