&lt;!-- noindex --&gt;
	&lt;!--[if lt IE 9]&gt;&lt;script type="text/javascript"&gt;jQuery &amp;&amp; jQuery.transformer({addClasses:true});&lt;/script&gt;&lt;![endif]--&gt;
	
	&lt;div id="access"&gt;
		&lt;h2&gt;Skip links and keyboard navigation&lt;/h2&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;a href="#content"&gt;Skip to content&lt;/a&gt;&lt;/li&gt;
			&lt;li id="access-instructions"&gt;&lt;a href="https://www.qld.gov.au/help/accessibility/keyboard.html#section-aria-keyboard-navigation"&gt;Use tab and cursor keys to move around the page (more information)&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;

	&lt;div id="header-wrapper"&gt;&lt;div id="header"&gt;&lt;div id="header-bg"&gt;&lt;/div&gt;&lt;div class="box-sizing"&gt;&lt;div class="max-width"&gt;
		&lt;h2&gt;Site header&lt;/h2&gt;

		&lt;div id="qg-coa"&gt;&lt;a href="https://www.qld.gov.au/"&gt;
			&lt;!--[if gt IE 8]&gt;&lt;!--&gt;&lt;img src="https://static.qgov.net.au/assets/v2/images/skin/qg-coa.svg" width="287" height="50" alt="Queensland Government home" /&gt;&lt;!--&lt;![endif]--&gt;
			&lt;!--[if (lte IE 8)&amp;(gt IE 6)]&gt;&lt;img src="https://static.qgov.net.au/assets/v2/images/skin/qg-coa.png" width="287" height="50" alt="Queensland Government home" /&gt;&lt;![endif]--&gt;
			&lt;!--[if lte IE 6]&gt;&lt;img src="https://static.qgov.net.au/assets/v2/images/skin/qg-coa-ie6.png" width="287" height="50" alt="Queensland Government home" /&gt;&lt;![endif]--&gt;
			&lt;img src="https://static.qgov.net.au/assets/v2/images/skin/qg-coa-print.png" class="print-version" alt="" /&gt;
		&lt;/a&gt;&lt;/div&gt;

		&lt;ul id="tools"&gt;
			&lt;li class="nav-contact"&gt;&lt;a accesskey="4" href="https://www.qld.gov.au/contact-us/"&gt;Contact us&lt;/a&gt;&lt;/li&gt;
			&lt;li class="last-child" id="header-search"&gt;
				&lt;form action="http://pan.search.qld.gov.au/search/search.cgi" id="search-form"&gt;
					&lt;div&gt;
						&lt;label for="search-query" class="visuallyhidden"&gt;Search website&lt;/label&gt;
						&lt;input accesskey="5" type="search" name="query" id="search-query" size="27" value="" placeholder="Search website" /&gt;
                        &lt;button id="search-button"&gt;Search&lt;/button&gt;
						&lt;input type="hidden" name="num_ranks" value="10" /&gt;
						&lt;input type="hidden" name="tiers" value="off" /&gt;
						&lt;input type="hidden" name="collection" value="qld-gov" /&gt;
						&lt;input type="hidden" name="profile" value="qld" /&gt;
					&lt;/div&gt;
				&lt;/form&gt;
			&lt;/li&gt;
		&lt;/ul&gt;

		&lt;div id="nav-site"&gt;&lt;ul&gt;
			&lt;li class="nav-residents"&gt;
				&lt;a href="https://www.qld.gov.au/queenslanders/"&gt;For Queenslanders&lt;/a&gt;
			&lt;/li&gt;
			&lt;li class="nav-business"&gt;
				&lt;a href="http://www.business.qld.gov.au/"&gt;Business and industry&lt;/a&gt;
			&lt;/li&gt;
		&lt;/ul&gt;&lt;/div&gt;

	&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;!-- endnoindex --&gt;
